name: Knuckles Review Sample

on:
  pull_request_review:
    types: [submitted]
  pull_request:
    types: [closed]

jobs:
  knuckles_review:
    permissions: 
      pull-requests: write
      
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    steps:
      - name: Knuckles Review
        if: ${{ github.event.pull_request.state == 'closed' && github.event.pull_request.merged != true }}
        uses: ArthurLobopro/knuckles-review@v1.0
        with:
          type: "No"

      - name: Knuckles Review
        if: ${{ github.event.review.state == 'approved' && github.event.pull_request.state == 'open' }}
        uses: ArthurLobopro/knuckles-review@v1.0
        with:
          type: "Approved"

      - name: Knuckles Review
        if: ${{ github.event.review.state == 'changes_requested' && github.event.pull_request.state == 'open' }}
        uses: ArthurLobopro/knuckles-review@v1.0
        with:
          type: "IDK"
    
